---
import './src/styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - Fabrizzio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
	  color-scheme: light;
	}

	html {
	  font-family: "Onest Variable", system-ui, sans-serif;
	  scroll-behavior: smooth;
	}

	body {
	  color: rgba(17, 17, 17, 0.9);
	  margin: 0;
	  padding: 0;
	  min-height: 100vh;
	  position: relative;
	  overflow: auto; /* Cambiado de hidden a auto */
	  background-color: #000000;
	  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
	  background-size: 20px 20px;
	}

	@media (prefers-reduced-motion: reduce) {
	  html {
		scroll-behavior: auto;
	  }
	}

	#header-nav {
	  animation: blur linear both 0.5s;
	  animation-timeline: scroll();
	  animation-range: 0 500px;
	}

	@keyframes blur {
	  to {
		backdrop-filter: blur(20px);
		border-width: 1px;
		border-color: rgba(0, 0, 0);
		padding: 0.25rem 0.75rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: rgb(229, 229, 229);
		border-radius: 9999px;
	  }
	}
</style>
